@import "../../variables/colors";

.result-sort {
  display: flex;
  align-items: baseline;
  white-space: nowrap;
  color: $light-gray-color;
  font-size: 18px;
  text-transform: uppercase;

  &__title {
    display: block;
    margin: 0 25px 0 0;
  }

  &__dropdown {
    position: relative;

    select {
      color: $white-color;
      cursor: pointer;
      border: 0;
      background-color: transparent;
      text-transform: uppercase;
      padding: 0 25px 0 0;
      /* for Firefox */
      -moz-appearance: none;
      /* for Chrome */
      -webkit-appearance: none;

      &::-ms-expand {
        display: none;
      }
    }
  }


}

.icon-arrow-down {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid $orange-color;
  z-index: 1;
  margin-top: -3px;
}