@import "../../variables/colors";

.select-field-wrapper {
  position: relative;
  background: $gray-color;
}

.select-field {
  width: 100%;
  height: 50px;
  padding: 10px 30px 10px 15px;
  border: 0;
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
  background-color: transparent;
  color: $white-color;
  cursor: pointer;
  font-size: 18px;

  &::-ms-expand {
    display: none;
  }
}
