@import "../../variables/colors";

.add-movie-link {
  position: relative;
  z-index: 1;
  padding: 10px 20px 10px 30px;
  border: 0;
  background: rgba($light-gray-color, 0.5);
  border-radius: 5px;
  color: $orange-color;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color ease-in-out 0.3s;

  &::before {
    position: absolute;
    top: 8px;
    left: 15px;
    content: "\002B";
  }

  &:hover {
    background-color: rgba($light-gray-color, 0.8);
  }
}
