.search-button {
  min-width: 230px;
  padding: 10px 15px;
  border: 0;
  background-color: #f75160;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  transition: opacity ease-in-out 0.3s;

  &:hover {
    opacity: 0.7;
  }
}
