@import "../../variables/colors";
.button {
  padding: 0;
  border: 0;
  margin: 0;
  background: transparent;
  cursor: pointer;

  &:disabled {
    border-color: $light-gray-color;
    background: $light-gray-color;
    cursor: not-allowed;
    pointer-events: none;
  }

  &-primary {
    min-width: 230px;
    padding: 12px 10px 11px;
    border: 2px solid $orange-color;
    background: $orange-color;
    border-radius: 4px;
    color: $white-color;
    font-size: 20px;
    text-transform: uppercase;
    transition: background-color ease-in-out 0.3s;

    &:hover {
      background: transparent;
    }
  }

  &-secondary {
    min-width: 230px;
    padding: 12px 10px 11px;
    border: 2px solid $orange-color;
    background-color: transparent;
    border-radius: 4px;
    color: $white-color;
    font-size: 20px;
    text-transform: uppercase;
    transition: background-color ease-in-out 0.3s;
    &:hover {
      background-color: $orange-color;
    }
  }
}
