@import "../../variables/colors.scss";

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background: rgba(0, 0, 0, .2);
  backdrop-filter: blur(5px);
}

.modal {
  position: absolute;
  top: 7%;
  left: 50%;
  bottom: 7%;
  transform: translateX(-50%);
  background-color: $dark-gray-color;
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
  padding: 30px;
  overflow: auto;

  &__close-button {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 32px;
    height: 32px;
    cursor: pointer;

    &:before, &:after {
      position: absolute;
      top: 0;
      left: 15px;
      content: ' ';
      height: 33px;
      width: 2px;
      background-color: $white-color;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  &__title {
    text-transform: uppercase;
    color: $white-color;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;

    .button + .button {
      margin: 0 0 0 30px;
    }
  }
}