@import "../../variables/colors.scss";

.modal-overlay {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  top: 7%;
  left: 50%;
  overflow: auto;
  width: 100%;
  max-width: 680px;
  max-height: 84vh;
  padding: 30px;
  margin: 0 auto;
  background-color: $dark-gray-color;
  color: $white-color;
  transform: translateX(-50%);

  &__close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 32px;
    height: 32px;
    cursor: pointer;

    &:before,
    &:after {
      position: absolute;
      top: 0;
      left: 15px;
      width: 2px;
      height: 33px;
      background-color: $white-color;
      content: " ";
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  &__title {
    color: $white-color;
    text-transform: uppercase;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;

    .button + .button {
      margin: 0 0 0 30px;
    }
  }
}
