.select-field {
  position: relative;
  font-size: 18px;
  width: 100%;
  color: #C2C2C2;
  padding: 0 20px 0 0;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    top: 8px;
    right: 0;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #F75160;
  }
  select {
    color: inherit;
    font-size: inherit;
    background: transparent;
    border: 0;
    cursor: inherit;
    text-transform: uppercase;
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
    &::-ms-expand {
      display: none;
    }
  }
}